body {
    background-color: #eeeeee;
}

#instruction_bar {
    text-align: center;
    display: flex;
    margin-top: 40px
}

#headline {
    font-family: 'Suez One', serif;
    color: cadetblue;
}

.card {
    margin-left: 10px;
    margin-right: 10px;
}
.card-body.section1 {
    BACKGROUND-COLOR: white;
    margin: 3%;
    padding: 2%;
}
h3 {
    font-size: 20px;
    font-weight: bold;
    color: cadetblue;
    text-align: right;
    margin-top: 0px;
    direction:rtl;
}

