body {
    background-color: #eeeeee;
    direction:rtl;
}

#instruction_bar {
    text-align: center;
    display: flex;
    margin-top: 40px
}

#headline {
    font-family: 'Suez One', serif;
    color: cadetblue;
}

.card {
    margin-left: 10px;
    margin-right: 10px;
}
.card-body.section2 {
    BACKGROUND-COLOR: white;
    margin: 3%;
    padding: 2%;
    border-radius: 7px;
}
.card-body.section1 {
    BACKGROUND-COLOR: white;
    margin: 3%;
    height: 600px;
    padding: 2%;
    padding-bottom: 6%;
    border-radius: 7px;
}
h3 {
    font-size: 20px;
    font-weight: bold;
    color: cadetblue;
    text-align: right;
    margin-top: 0px;
    margin-right:10px;
    direction:rtl;
}
.w3-container, .w3-panel {
    padding-right: 4%;
    text-align: center;
    border: 10px solid cadetblue;
    padding-right: 37%;
   
}

#report_paragraph {
    padding: 2%;
}
#active {
    color: cadetblue;
    background-color: #eeeeee;
    FONT-WEIGHT: bold;
    border-color: cadetblue;
}

#logo{
    direction:ltr;
}
#calendar {
    height:100%;
    width:100%;
}
h1.instructions {
    margin-right: 20px;
}
.navbar-right {
    float: right!important;
    margin-right: -15px;
    direction: ltr;
}
#logout {
    border: unset;
}

.image{
    margin:0!important;
}
    