form {
    display: inline;
    margin: 0px;
    padding: 0px;
    text-align: right;
    font-size: 12px;
}

/*#saveBTN {
            left: 7px;
            bottom: 5px;
            position: absolute;
        }*/

.form-control {
    font-size: 12px;
}

.form-group {
    margin-bottom: 5px;
}

#main {
    direction: rtl;
    text-align: right;
    background-color: #e4e2e2;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    color: cadetblue;
    text-align: right;
    margin-top: 0px;
}

.project_name {
    font-family: 'Lucida Console';
    color: cadetblue;
    font-weight: bold;
}
#headline{
    width:30%;
}

.card {
    margin-left: 10px;
    margin-right: 10px;
}

.newBTN {
    float: right;
}

.navbar-default {
    background-color: cadetblue;
    border-color: #e7e7e7;
    color: white;
}

#logo {
    float: left;
    position: relative;
}

.navbar {
    margin-left: 150px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    font-weight: bold;
    color: cadetblue;
    background-color: white;
    text-align: center;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: bold;
    padding-left: 60px;
}
.glyphicon {
    top: 20px;
    padding-left: 60px;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: cadetblue;
    font-weight: bold;
}

body {
    background-color: #eeeeee;
}
 th{
     text-align:right;
 }
.nav.navbar-nav {
    display: contents;
}

.container {
    float: right;
}

#table {
    margin-top: 30px;
    padding-left: 12%;
    padding-right: 12%;
    text-align: center;
}

.red-star {
    color: red;
}


.section1 {
    min-height: 320px;
}

.section2 {
    min-height: 200px;
}

.card {
    margin-left: 10px;
    margin-right: 10px;
}

.newBTN {
    float: right;
    text-align: left;
}

#editDetailsBTN, #editContactsBTN, #saveDetailsBTN, #saveContactsBTN {
    background-color: transparent;
    border: 0px;
}

.editLocation {
    position: absolute;
    margin: 0;
    padding: 5px;
    bottom: 0;
    left: 0;
}

p {
    text-align: left;
    /*margin-bottom:0px;*/
}

.proj {
    font-family: 'Lucida Console';
    color: cadetblue;
    font-weight: bold;
}


.navbar-default {
    background-color: cadetblue;
    border-color: #e7e7e7;
    color: white;
}

#logo {
    float: left;
}

#proj_bar {
    text-align: right;
    display: flex;
    margin-top: 15px
}

#headline {
    width: 20%;
    font-family: 'Suez One', serif;
    color: blue;
}

.btn-success {
    background-color: white;
    color: black;
    border: 3px solid #569366;
    margin: 3px;
}
 .btn-success:hover {
    background-color: #569366;
    color: white;
}

.btn-danger {
    background-color: white;
    color: black;
    border: 3px solid #bd3636;
    margin: 3px;
}
.btn-danger:hover {
    background-color: #bd3636;
    color: white;

}
#newBTN {
    color: #fff;
    background-color: cadetblue;
    border-color: cadetblue;
}
